body{
margin:0;
font-family:Arial;
text-align:center;
background:#eaf6ff;
}

/* SKY BACKGROUND */
.sky3d{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(#6ec6ff,#dff5ff);
z-index:0;
}

/* TITLE */
.title{
margin-top:40px;
color:#1c3d5a;
}

/* CARD */
.card{
width:300px;
margin:40px auto;
padding:30px;
background:#1f2a38;
color:white;
border-radius:20px;
position:relative;
z-index:10;
}

/* INPUT */
input{
width:90%;
padding:10px;
margin:15px 0;
border:none;
border-radius:10px;
}

/* BUTTON */
button{
padding:10px 20px;
border:none;
border-radius:10px;
background:#3fa9f5;
color:white;
cursor:pointer;
}

/* TOPIC */
.topic button{
display:block;
margin:10px auto;
width:250px;
}

/* QUIZ */
.quiz{
margin-top:40px;
}

#answers button{
display:block;
margin:10px auto;
width:250px;
}

/* RESULT */
.result{
margin-top:40px;
}

/* HIDDEN */
.hidden{
display:none;
}
